<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>internet.shop.controller.IndexController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allUsers</servlet-name>
        <servlet-class>internet.shop.controller.user.GetUsersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allUsers</servlet-name>
        <url-pattern>/user/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>internet.shop.controller.user.RegistrationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/user/registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>internet.shop.controller.user.DeleteUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/users/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>injectData</servlet-name>
        <servlet-class>internet.shop.controller.InjectDataController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>injectData</servlet-name>
        <url-pattern>/injectData</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addProduct</servlet-name>
        <servlet-class>internet.shop.controller.product.AddProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addProduct</servlet-name>
        <url-pattern>/product/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getProductsForManage</servlet-name>
        <servlet-class>internet.shop.controller.product.GetProductsForManageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getProductsForManage</servlet-name>
        <url-pattern>/product/get-for-manage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteProduct</servlet-name>
        <servlet-class>internet.shop.controller.product.DeleteProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteProduct</servlet-name>
        <url-pattern>/product/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allProducts</servlet-name>
        <servlet-class>internet.shop.controller.product.GetProductsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allProducts</servlet-name>
        <url-pattern>/product/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>buyProduct</servlet-name>
        <servlet-class>internet.shop.controller.product.AddProductToCartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>buyProduct</servlet-name>
        <url-pattern>/shopping-cart/products/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getShoppingCartProducts</servlet-name>
        <servlet-class>internet.shop.controller.shoppingcart.GetShoppingCartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getShoppingCartProducts</servlet-name>
        <url-pattern>/shopping-cart/products</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteShoppingCartProducts</servlet-name>
        <servlet-class>internet.shop.controller.shoppingcart.DeleteProductFromCartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteShoppingCartProducts</servlet-name>
        <url-pattern>/shopping-cart/products/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>createOrder</servlet-name>
        <servlet-class>internet.shop.controller.order.CompleteOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createOrder</servlet-name>
        <url-pattern>/order/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getUserOrders</servlet-name>
        <servlet-class>internet.shop.controller.order.GetUserOrdersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getUserOrders</servlet-name>
        <url-pattern>/order/by-user</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteUserOrders</servlet-name>
        <servlet-class>internet.shop.controller.order.DeleteOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteUserOrders</servlet-name>
        <url-pattern>/order/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getAllOrders</servlet-name>
        <servlet-class>internet.shop.controller.order.GetAllOrdersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAllOrders</servlet-name>
        <url-pattern>/order/all</url-pattern>
    </servlet-mapping>
</web-app>
